#TOC {
  position: fixed;
  left: 0;
  top: 100px;
  bottom: 0px;
  width: 300px;
  height: 100%;
  overflow:auto;
}

body {
  max-width: 800px;
  margin: auto;
  margin-left:310px;
  line-height: 20px;
}
